{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static " css/style.css" %}">
    <title>sshadow</title>

    <style>
        .loginw {
            display: flex;
            height: 80vh;
            align-items: center;
            justify-content: center;

        }

        .form {
            width: 600;

        }
    </style>
</head>

<body>
    <div class="container">
        <div class="loginw">
            {% if page == 'login' %}
            <form method='post' class="form">
                {% csrf_token %}
                <h2>Login</h2>
                <h4>Login to get a full access to the craigslist functionality</h4>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>

                <p>Don't have an account <a href="{% url 'registeruser' %}"> Register</a></p>
            </form>
            {% else %}
            <form method="post">
                <h1>Register</h1>
                <p>Create an account</p>
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Register</button>
                <p>Have an account <a href="{% url 'loginpage' %}"> Login</a></p>
            </form>
            </form>
            {% endif %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>